@font-face {
  font-family: "Bourrage";
  src:url("../fonts/Bourrage.otf") format("opentype");
}

html, body {
  width: 100%;
  height: 100%;
  position: absolute;
}

body{
  background-color: #faf3dd;
  font-family: "Bourrage";
  overflow: hidden;
  margin: 0;
}

header{
  position: absolute;
  background-image: url(../images/2.png);
  background-size: cover;
  background-position: center;
  background-color: #faf3dd;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 5px solid black;
  height: 80px;
  padding-right: 30px;
  padding-top: 15px;

}

.nbtacos{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 40px;
}

.nbtacos span{
  font-size: 65px;
  margin-left: 11px;
  margin-top: 10px;
}

#tacos{
  width: 100px;
}

#rejouer{
  position: absolute;
  left: 20px;
  top: 27px;
  width: 55px;
  text-decoration: none;
  color: black;
}

#perdu{
  position: absolute;
top: -12%;
left: 26%;
font-size: 300px;
}


#dead{
  position: absolute;
top: 400px;
left: 30%;
width: 600px;
animation-delay: 3s;
animation: chute 2s, tr 2s;
}

@keyframes chute {
0%{
 top: -100px;
}
60%{
 top: 400px;}

 65%{
  top: 340px;}

  100%{
   top: 400px;}

}

@keyframes tr {
85%{
 transform: rotate(10deg);
}
90%{
 transform: rotate(-10deg);
}
92%{
 transform: rotate(10deg);
}

  96%{
 transform: rotate(-10deg);
  }
}

#f1 {
  position: absolute;
  top: 8%;
  left: 0px;
  width: 18%;
}

#f2 {
  position: absolute;
  top: 8%;
  right: 0px;
  width: 18%;
}

#f3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 18%;
}

#f4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 18%;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }

  .nbtacos{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
  }

  .nbtacos span{
    font-size: 40px;
    top: 15px;
  }

#rejouer{
  left: 9px;
  top: 35px;
}


#perdu{
    position: absolute;
  top: 17%;
  left: 10%;
  font-size: 120px;
  }


  #dead{
  top: 350px;
  left: 7%;
  width: 340px;
  }

  @keyframes chute {
  0%{
   top: -100px;
  }
  60%{
   top: 350px;}

   65%{
    top: 290px;}

    100%{
     top: 350px;}

  }

  @keyframes tr {
  85%{
   transform: rotate(10deg);
  }
  90%{
   transform: rotate(-10deg);
  }
  92%{
   transform: rotate(10deg);
  }

    96%{
   transform: rotate(-10deg);
    }
  }


}
